/*
* @Author: 祝雪涛
* @Date:   2018-11-07 14:08:49
* @Last Modified by:   祝雪涛
* @Last Modified time: 2018-11-07 14:09:30
*/
.list {
  width: 300px;

}
.list li {
  width: 100px; height: 40px; font-size: 30px;
}
